{% extends 'forwarder/base.html' %}
{% block head %}
<style media="screen">
  body{
    background: white;
  }

</style>
{% endblock %}
{% block body %}

      <div class="row container app_form">
        <form class="col s12 z-depth-4">
          <div class="row border">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix"></i>
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">assignment_ind</i>
              <input id="admission_number" type="text" class="validate">
              <label for="admission_number">Admission Number</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">location_city</i>
              <input id="department" type="text" class="validate">
              <label for="department">Department</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">local_library</i>
              <input id="Semester" type="text" class="validate">
              <label for="Semester">Semeseter</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">face</i>
              <input id="date of birth" type="text" class="datepicker validate">
              <label for="date of birth">Date of birth</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">supervisor_account</i>
              <input id="guardian_name" type="text" class="validate">
              <label for="guardian_name">Guardian Name</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">style</i>
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option>Welfare Board</option>
                <option>Character Certificate</option>
                <option>Bank Loan</option>
                <option>Embassy Attestation</option>
                <option>Issue of certificates</option>
                <option>Non-Receipt Applications</option>
                <option>Issue of Specific format certificates</option>
                <option>Others</option>
              </select>
              <label for="application_type">Application Type</label>
            </div>
          </div>
        </form>
      </div>



{% endblock %}
