{% extends 'forwarder/base.html' %}
{% block head %}
<style media="screen">
  body{
    background:#5c6bc0  ;
  }

</style>
{% endblock %}
{% block body %}
<div class="container">
  <br>

  <div class="row z-depth-3 ">
    <div class="col s6  white">
      <div class="section">
        <h5>Name</h5>
        <p>Stuff</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Admission Number</h5>
        <p>Stuff</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Date of birth</h5>
        <p>Stuff</p>
      </div>
    </div>
    <div class="col s6 white">
      <div class="section">
        <h5>Department</h5>
        <p>Stuff</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Semester</h5>
        <p>Stuff</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Guardian name</h5>
        <p>Stuff</p>
      </div>
    </div>
    <div class="col s12 white">
      <div class="divider">

      </div>
      <div class="section">
        <h5>Application type and details</h5>
        <p>stuff</p>
      </div>

    </div>
  </div>
  <div class="align-center">
    <button type="submit" class=" waves-effect waves-light btn">FORWARD<i class="material-icons right">check</i></button>
    <button type="submit" class="waves-effect waves-light btn">REJECT<i class="material-icons right">close</i></button>

  </div>



</div>

  {% endblock %}
