{% extends 'forwarder/base.html' %}
{% block body %}
<div class="container">
  <div class="form_bg z-depth-4">
    <h2>   LOGIN </h2>
    <div class="row">
      <form class="col s12" method="post">
        <div class="row">
          <div class="input-field col s12">

            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="first_name">Username</label>
          </div>
          </div>
            <div class="row">
          <div class="input-field col s12 ">

            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="align-center">
          <a href="#" class="waves-effect waves-light btn">Submit<i class="material-icons right">send</i></a>


        </div>
      </form>


    <!--<form  method="post">
    {% csrf_token %}
    {{ form.as_p }}

      <button type="submit" class="btn btn-success">Login</button>

  </form>-->


  </div>

</div>


</div>
{% endblock %}
