{% extends 'forwarder/base.html' %}
{% block head %}
<style media="screen">
  body{
    background: white;
  }

</style>
{% endblock %}
{% block body %}

<div class="row ">
  <div class="col s12">
    <div class="card-panel light-blue lighten-3 z-depth-4">

    </div>
  </div>

</div>
<div class="row ">




    <div class="col s12  ">
      <div class="card-panel light-blue lighten-3">
        <div class="row white z-depth-4">
            <h5>REQUESTS</h5>

        </div>
        <ul class="collapsible z-depth-4" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header">Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header">Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header">Fourth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header">Fifth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header">Sixth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>






    </div>

  </div>


{% endblock %}
