{% extends 'forwarder/base.html' %}
{% block head %}
<style media="screen">
  body{
    background: white;
  }

</style>
{% endblock %}
{% block body %}

<div class="row ">
  <div class="col s12">
    <div class="card-panel green lighten-1 z-depth-4">

    </div>
  </div>

</div>
<div class="row ">


  <div class="col s12 m3 l2">
    <div class="card-panel green lighten-1 ">
      <div class=" header row white z-depth-2">
        <h5 >FILTER</h5>
      </div>
      <div class="row">
        <div class="input-field col s12 white z-depth-3">
          <select class="z-dpeth-3">
            <option value="" disabled selected>Filter by</option>
            <option value="1">Year</option>
            <option value="2">Semester</option>
            <option value="3">Date</option>
          </select>

        </div>



    </div>
    </div>



    </div>



    <div class="col s12 m9 l10  ">
      <div class="card-panel green lighten-1">
        <div class=" header row white z-depth-4">
            <h5>REQUESTS</h5>

        </div>
        <ul class="collapsible popout  z-depth-4" data-collapsible="accordion">
          <li>
            <div class="collapsible-header z-depth-3">First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header z-depth-3">Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header z-depth-3">Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header z-depth-3">Fourth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header z-depth-3">Fifth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header z-depth-3">Sixth</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>






    </div>





  </div>


{% endblock %}
